@import url('https://fonts.googleapis.com/css2?family=Angkor&family=Arimo:wght@400;700&family=Battambang&family=Bayon&family=Bebas+Neue&family=Catamaran:wght@400;700&family=Comme:wght@100;900&family=Concert+One&family=Gothic+A1:wght@500&family=Josefin+Sans:ital,wght@100;700&family=Kdam+Thmor+Pro&family=Koulen&family=Lobster&family=Mukta:wght@200;500;700&family=Noto+Sans+Khmer:wght@100;900&family=Noto+Serif+Khmer:wght@100;900&family=Oswald:wght@200;700&family=Poppins:wght@400;500&family=Radio+Canada:ital,wght@300;700&family=Roboto+Slab:wght@100;900&family=Suwannaphum:wght@100;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cookie&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Comme', sans-serif;
    font-optical-sizing: auto;
}

.header {
    width: 100%;
    height: 90px;
    background-color: white;
    padding: 0 40px;
    display: flex;
    box-shadow: 1px 2px 8px rgb(144, 143, 143);
    position: sticky;
    top: 0;
    z-index: 99;
}

.header .logo {
    width: 25%;
    height: 100%;
    /* background-color: burlywood; */
    align-items: center;
    display: flex;
}

.header .menu {
    width: 50%;
    height: 100%;
    /* background-color: chartreuse; */
    align-items: center;
    display: flex;
}

.header .icons {
    width: 25%;
    height: 100%;
    /* background-color: chocolate; */
    align-items: center;
    display: flex;
    justify-content: end;
}
.cat-content {
    display: none;
    position: absolute;
    background-color: #0a0909;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    margin-top: 10px;
}

.cat-content a {
    float: none;
    color: rgb(250, 247, 247);
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.cat-content a:hover {
    background-color: #f7f1f1;
    color: #0a0909;
}

.page:hover .cat-content {
    display: block;
}

/* ----------- Menu ----------- */

.header .menu ul {
    display: flex;
    list-style-type: none;
}

.menu ul li {
    margin-right: 30px;
}

.menu ul li a {
    text-decoration: none;
    color: black;
    text-transform: uppercase;
    position: relative;
}

.menu ul li a::before {
    position: absolute;
    content: "";
    width: 0%;
    background-color: chartreuse;
    height: 2px;
    bottom: -7px;
    right: 50%;
    transition: all 0.1s;
}

.menu ul li a::after {
    position: absolute;
    content: "";
    width: 0%;
    background-color: chartreuse;
    height: 2px;
    bottom: -7px;
    left: 50%;
    transition: all 0.1s;
}

.menu ul li a:hover::before {
    width: 50%;
    transition: all 0.1s;
}

.menu ul li a:hover::after {
    width: 50%;
    transition: all 0.1s;
}

/* ----------- ICONS ----------- */

.header .icons ul {
    display: flex;
}

.header .icons ul li {
    list-style-type: none;
    margin-left: 30px;
    position: relative;
}

.header .icons ul li a {
    text-decoration: none;
    color: rgb(14, 13, 13);
    font-size: 20px;
}

.icons ul li #taga {
    font-size: 15px;
    color: rgba(128, 128, 128, 0.75);
}

.icons ul li span {
    position: absolute;
    width: 20px;
    top: -13px;
    left: 10px;
    background-color: black;
    color: white;
    padding: 0px 5px;
    clip-path: circle(50% at 50% 50%);
}

.home {
    width: 80%;
    height: 50px;
    margin: 0 auto;
    margin-top: 40px;
    /* background-color: blueviolet; */
}

.home ul {
    display: flex;
}

.home ul li {
    list-style-type: none;
    margin-right: 10px;
}

.home ul li a {
    text-decoration: none;
    color: black;
}

.box {
    width: 80%;
    height: auto;
    /* background-color: brown; */
    margin: 0 auto;
    display: flex;

}

.box .box1 {
    width: 30%;
    height: 100%;
    /* background-color: blueviolet; */
}

.box .box2 {
    width: 70%;
    height: 100%;
    /* background-color: aqua; */
}

button {
    width: 100%;
    background: transparent;
    border: 0;
    padding: 0;
    cursor: pointer;
    text-align: left;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.sidebar {
    /* position: fixed; */
    top: 24px;
    left: 24px;
    bottom: 24px;
    display: flex;
    flex-direction: column;
    gap: 8px;
    width: 400px;
    /* border-radius: 16px; */
    padding: 0 16px;
    border: 1px solid rgb(255 255 255 / 8%);
    /* background: rgb(0 0 0 / 40%); */
    /* backdrop-filter: blur(20px); */
    transition: width 0.4s;
}

.sidebar header {
    display: flex;
    align-items: center;
    height: 72px;
    padding: 0 1.25rem 0 0;
    border-bottom: 1px solid rgb(255 255 255 / 8%);
}

.sidebar header button {
    width: 52px;
}

.sidebar header img {
    height: 24px;
}

.sidebar button {
    position: relative;
    display: flex;
    gap: 16px;
    align-items: center;
    height: 50px;
    width: 100%;
    border-radius: 6px;
    font-family: inherit;
    font-size: 16px;
    font-weight: 400;
    line-height: 1;
    padding: 0 16px;
    color: rgba(18, 16, 16, 0.95);
}

.sidebar button p:nth-child(2) {
    flex: 1 1 auto;
}

.sidebar button:is(.active, :hover) {
    background: rgb(0 0 0 / 30%);
}

.sidebar button i {
    transition: 0.3s;
}

.sidebar button.active>i:nth-child(3) {
    rotate: -180deg;
}

.sidebar button:not(.active):hover {
    background: rgb(0 0 0 / 10%);
}

.sidebar ul {
    display: grid;
    list-style: none;
    padding: 0;
    margin: 0;
    width: 100%;
}

.sub-menu {
    position: relative;
    overflow: hidden;
    height: 0;
    transition: 0.5s;
}

.sub-menu ul {
    position: absolute;
    top: 0;
    left: 0;
    display: grid;

}

.sub-menu button {
    padding-left: 52px;
}

.sub-menu button::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 24px;
    translate: 0 -50%;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background-color: rgb(255 255 255 / 35%);
}

.sidebar .material-symbols-outlined {
    font-size: 16px;
}

.sidebar i {
    font-size: 20px;
    width: 20px;
    max-width: 20px;
    min-width: 20px;
}

.sidebar__sizes,
.sidebar__color {
    margin-bottom: 40px;
}

.sidebar__sizes .section-title,
.sidebar__color .section-title {
    margin-bottom: 35px;
}

.sidebar__sizes .section-title h4,
.sidebar__color .section-title h4 {
    font-size: 18px;
}

.sidebar__sizes .size__list label,
.sidebar__color .size__list label {
    display: block;
    padding-left: 20px;
    font-size: 14px;
    text-transform: uppercase;
    color: #444444;
    position: relative;
    cursor: pointer;
    margin-top: 8px;
}

.sidebar__sizes .size__list label input,
.sidebar__color .size__list label input {
    position: absolute;
    visibility: hidden;
}

.sidebar__sizes .size__list label input:checked~.checkmark,
.sidebar__color .size__list label input:checked~.checkmark {
    border-color: #ca1515;
}

.sidebar__sizes .size__list label input:checked~.checkmark:after,
.sidebar__color .size__list label input:checked~.checkmark:after {
    border-color: #ca1515;
    opacity: 1;
}

.sidebar__sizes .size__list label .checkmark,
.sidebar__color .size__list label .checkmark {
    position: absolute;
    left: 0;
    top: 4px;
    height: 10px;
    width: 10px;
    border: 1px solid #444444;
    border-radius: 2px;
}

.sidebar__sizes .size__list label .checkmark:after,
.sidebar__color .size__list label .checkmark:after {
    position: absolute;
    left: 0px;
    top: -2px;
    width: 11px;
    height: 5px;
    border: solid #ffffff;
    border-width: 1.5px 1.5px 0px 0px;
    -webkit-transform: rotate(127deg);
    -ms-transform: rotate(127deg);
    transform: rotate(127deg);
    opacity: 0;
    content: "";
}

.sidebar__color .color__list label {
    text-transform: capitalize;
}

.product {
    width: 100%;
    height: 450px;
    /* background-color: blueviolet; */
    margin: 20px auto;
    display: flex;
    justify-content: space-between;
}

.product .item {
    width: 31%;
    height: 100%;
    /* background-color: deeppink; */
}

.product .item .image {
    width: 100%;
    height: 80%;
    /* background-color: burlywood; */
    position: relative;
    overflow: hidden;
}

.item .image span {
    position: absolute;
    width: 50px;
    background-color: rgb(11, 245, 11);
    padding: 5px 4px;
    left: 10px;
    top: 10px;
    text-align: center;
    color: white;
}

.item .image .icons {
    position: absolute;
    width: 100%;
    height: 30%;
    /* background-color: rgb(226, 43, 43); */
    bottom: -30%;
    align-items:center;
    display: flex;
    justify-content:center;
    transition: all 0.5s;
    margin-left: 20px;
}

.item .image .icons .box i {
    width: 50px;
    height: 50px;
    font-size: 18px;
    background-color: white;
    margin-right: 20px;
    clip-path: circle(50% at 50% 50%);
    text-align: center;
    padding: 16px 15px;
}

.item:hover .icons {
    visibility: visible;
    bottom: 0;
    transition: all 0.5s;
}

.item .image .icons .box i:hover {
    transform: rotate(360deg);
    transition: all 1s;
    background-color: red;
    color: white;
}

.product .item .text {
    width: 100%;
    height: 20%;
    /* background-color: chartreuse; */
    padding: 20px 0px;
    text-align: center;
}

.item .image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.item .text p {
    font-size: 15px;
}

.item .text span i {
    font-size: 10px;
    margin-bottom: 8px;
    color: rgb(208, 181, 3);
}
.instagram {
    width: 100%;
    height: 350px;
    background-color: chartreuse;
    margin: 40px 0px;
    display: flex;
}

.instagram .box-ig {
    width: 16.66%;
    height: 100%;
    background-color: chocolate;
    position: relative;
}

.box-ig img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.box-ig .ig {
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.832);
    position: absolute;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: ease-in 0.2s;
}

.ig .div {
    /* background-color: aqua; */
    text-align: center;
    padding: 20px;
    font-size: 20px;
}

.box-ig:hover .ig {
    opacity: 1;
    transition: ease-in 0.2s;
}
.footer {
    width: 100%;
    height: 300px;
    /* background-color: blueviolet; */
}

.footer .foot1 {
    width: 100%;
    height: 80%;
    /* background-color: burlywood; */
    padding: 0 7rem;
    display: flex;
}

.foot1 .foot-box1 {
    width: 30%;
    height: 100%;
    /* background-color: aqua; */
    padding: 20px 0px;
}

.foot-box1 img {
    margin-bottom: 20px;
}

.foot-box1 p {
    margin-bottom: 20px;
    color: rgb(65, 65, 65);
}

.foot1 .foot-box2 {
    width: 20%;
    height: 100%;
    /* background-color: rgb(255, 0, 0); */
    padding: 20px 0px;
}

.foot1 .foot-box3 {
    width: 20%;
    height: 100%;
    /* background-color: rgb(255, 242, 0); */
    padding: 20px 0px;
}

.foot-box2 ul li,
.foot-box3 ul li {
    list-style-type: none;
    margin-top: 18px;
}

.foot-box2 ul li a,
.foot-box3 ul li a {
    text-decoration: none;
    color: rgb(65, 65, 65);
}

.foot1 .foot-box4 {
    width: 30%;
    height: 100%;
    /* background-color: aqua; */
    padding: 20px 0px;
}

.foot-box4 form {
    width: 100%;
    height: 20%;
    /* background-color: blueviolet; */
    position: relative;
    margin: 20px 0px 60px 0px;
}

.foot-box4 form input[type="email"] {
    width: 100%;
    padding: 15px 20px;
    border-radius: 25px;
    outline: none;
    border: 0.5px solid rgb(173, 172, 172);
    font-size: 15px;
}

.foot-box4 form button[type="button"] {
    width: 120px;
    padding: 15px 20px;
    border-radius: 25px;
    border: none;
    outline: none;
    background-color: red;
    color: white;
    font-weight: bold;
    position: absolute;
    right: 0.5%;
    top: 5%;
    
}

.foot-box4 span {
    width: 100px;
    padding: 13px 14px;
    background-color: rgb(225, 225, 225);
    border-radius: 50%;
}

.footer .foot2 {
    width: 80%;
    height: 20%;
    margin: 0 auto;
    /* background-color: chocolate; */
    align-items: center;
    display: flex;
    justify-content: center;
    border-top: 0.5px solid rgb(225, 225, 225);
}
